html
    head
        title= "news-editor"
        style
            include main.css
        block style
    body
        block content
        script(src='../libs/jquery/jquery-3.2.1.min.js')
        block script
