* {
    box-sizing: border-box;
}

.blog-editor__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: rgb(198, 214, 214);
    text-align: center;
}

.blog-editor__button {
    width: 100px;
    margin: 10px;
}

.message {
    visibility: hidden;
    position: fixed;
    right: 10%;
    top: 10%;
    min-width: 150px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.message--success {
    visibility: visible;
    background: green;
}

.message--error {
    visibility: visible;
    background: red;
}